In [1]:
import pandas as pd

In [9]:
response = pd.read_csv('Experiments/exp_78/shaply_response.csv')
non_response = pd.read_csv('Experiments/exp_78/shaply_non_response.csv')

In [14]:
data = pd.concat([response, non_response])
data.set_axis(['response', 'non-reponse'], inplace=True)

In [27]:
data

,GAPDH,RPS26,PRDM1,STAT1,IFITM2,GZMH,PRF1,TNFAIP3,CCR7,UBC,...,CCL5,C1orf56,MT-CYB,CD38,ANXA2,PIP4K2A,DNAJA1,UBB,HLA-DPA1,CTSW
response,2.619744,1.889380,1.465633,1.428788,1.159849,0.969085,0.886255,0.832457,0.773944,0.668362,...,0.599512,0.591712,0.589688,0.557110,0.534405,0.499238,0.474888,0.457031,NaN,NaN
non-reponse,2.715630,1.046781,1.183233,1.070882,0.948252,0.842647,0.909226,0.586782,0.573866,0.403744,...,0.635819,0.520888,0.563578,1.188026,NaN,NaN,0.457631,0.498575,0.408269,0.404199